@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Open+Sans&display=swap');

:root {
  --mainFont: "Open Sans";
  --secFont: Jomhuria;
}
html.n {
  --navCo: #0F0089;
  --headCo: #3700FF;
  --linkCo: #F7E45D;
  --maCo: #0044F7;
  --maTxtCo: #C2FFBA;
  --buCo: #F09;
  --buTxtCo: #0FF;
  --buBoCo: #fff;
  --noteCo: #f25;
  --noteTxtCo: #ccc;
  --inCo: #0bf;
  --inlinkCo: #05c;
  --selCo: #f51;
  --selTxtCo: #059;
}
html.d {
  --navCo: #111;
  --headCo: #333;
  --linkCo: #0a0;
  --maCo: #222;
  --maTxtCo: #ccc;
  --buCo: #444;
  --buTxtCo: #aaa;
  --buBoCo: #100;
  --noteCo: #dea;
  --noteTxtCo: #222;
  --inCo: #111;
  --inlinkCo: #ad0;
  --selCo: #ed0;
  --selTxtCo: #555;
}

.H1 {
  font-size: 40px;
}

.nav {
	background-color: var(--navCo);
}

header {
  text-align: center;
  background: var(--headCo);
}

a {
	color: var(--linkCo);
}

body {
  background-color: var(--maCo);
  color: var(--maTxtCo);
  font-family: var(--mainFont);
}

button {
	background-color: var(--buCo);
	color: var(--buTxtCo);
  border: solid 2px var(--buBoCo);
  margin: 3px;
  font-family: var(--secFont);
  font-size: 25px;
  cursor: pointer;
}

.notice {
  background: var(--noteCo);
  color: var(--noteTxtCo);
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

#index {
  background: var(--inCo);
  display: block;
}
a.indexed {
  color: var(--inlinkCo);
  text-decoration: none;
  font-weight: bold;
}
.hidden {
  display: none;
  cursor: not-allowed;
}
.notFound {
  font-family: cursive;
  font-size: 50px;
  text-align: center;
}
::selection {
  background: var(--selCo);
  color: var(--selTxtCo);
  padding: 2px;
}
.altRating {
  font-size: 20px;
  color: var(--noteTxteCo);
}